﻿﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Для того, чтобы рассчитать объем шарового слоя, нажмите продолжить.</p>
    <a href="/math">Продолжить</a>
</div>

