﻿@model MathViewModel

<p>Рассчет объема шарового слоя:</p>
<form href="/app" method="get">
    <input type="text" name="r1" value="@Model.r1" />
    <input type="text" name="r2" value="@Model.r2" />
    <input type="text" name="h" value="@Model.h" />

    <p>result: @Model.result</p>
    <button type="submit">Рассчитать</button>
</form>